body {
    background-color: #7f8c8d;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #main {
    padding-left: 48px;
    padding-right: 48px;
  }

  #score-total {
    font-family: 'Londrina Shadow';
    font-size: 20em;
    color: #C2CAAD !important;
  }

  #high-scores {
    color: #C2CAAD !important;
    text-align: left;
  }

  #high-scores .high-score-item {
    font-family: 'Londrina Solid';
    font-size: 1.6em;
  }

  .high-score-item > .value{
    font-family: 'Londrina Shadow';
  }

  #high-scores > .title {
   font-family: 'Londrina Solid';
    font-size: 2em;
  }

  #score-breakdown {
    margin-top: 128px;
  }

  #score-breakdown > p {
    text-align: right;
    font-family: 'Londrina Solid';
    font-size: 2em;
    color: #C2CAAD !important;
  }

  #score-breakdown .value{
    font-family: 'Londrina Shadow';
  }

  #smashing-five-title {
    font-family: 'Open Sans Condensed';
    font-size: 3em;
    color: #FFE0E2 !important;
    opacity: 0.8;
  }

  #save-score-modal {
    font-family: 'Open Sans Condensed';
    width: 600px;
  }

  #save-score-modal .title h4 {
    font-family: 'Londrina Solid';
    font-size: 2.6em;
    color: #333 !important;
  }

  #save-score-modal .title p {
    font-family: 'Londrina Solid';
    font-size: 1.2em;
    color: #333 !important;
  }
